src/main/mule/abcd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3e624bb1-2888-42d4-84e6-3162150dce3f" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="abcdFlow" doc:id="f0cc17b9-0e96-4f64-b33a-98edef1aad12" >
		<http:listener doc:name="Listener" doc:id="7d5f1eda-941e-4f20-a8fd-96db9642a214" config-ref="HTTP_Listener_config" path="/git"/>
		<set-payload value='#["old"]' doc:name="Set Payload" doc:id="091a844f-11f6-4887-8f46-e42522501ff8" />
		<logger level="INFO" doc:name="Logger" doc:id="a93e2882-addc-4fff-87a2-4b47a560ea95" message="#[payload]"/>
	</flow>
</mule>
